---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq
type: Opaque
stringData:
  rabbitmq-user: "{{ rabbitmq.username }}"
  rabbitmq-password: "{{ rabbitmq.password }}"
  rabbitmq-erlang-cookie: "ZZ9NT4aejPLH7jIV1pIC4Z9GsvSYWqli1"
