---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgresql
  namespace: mb-scheduler
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.bitnami.com/bitnami
      chart: postgresql
      version: 18.5.1
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
      interval: 5m
  # https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
  values:
    global:
      postgresql:
        auth:
          existingSecret: postgres-secret
          database: main
        security:
          allowInsecureImages: true
    image:
      repository: bitnami/postgresql
      tag: 15.4.0-debian-11-r39
    auth:
      usePasswordFiles: false
    primary:
      persistence:
        enabled: true
        existingClaim: postgresql-pvc
      pdb:
        create: true
        minAvailable: 1
      resourcesPreset: "micro"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    backup:
      enabled: true
      cronjob:
        storage:
          storageClass: gsks0
          size: 40Gi
        command:
          - /bin/sh
          - -c
          - |
            BACKUP_DIR="$PGDUMP_DIR"
            BACKUPS_TO_KEEP=7

            echo "Current backups in $BACKUP_DIR:"
            ls -lh $BACKUP_DIR/pg_dumpall-*.pgdump

            pg_dumpall --clean --if-exists --load-via-partition-root --quote-all-identifiers --no-password --file=$BACKUP_DIR/pg_dumpall-$(date '+%Y-%m-%d-%H-%M').pgdump

            if [ $? -eq 0 ]; then
              echo "Backup created successfully."

              BACKUPS_TO_DELETE=$(ls -1t $BACKUP_DIR/pg_dumpall-*.pgdump | tail -n +$((BACKUPS_TO_KEEP+1)))

              if [ -n "$BACKUPS_TO_DELETE" ]; then
                echo "Deleting old backups:"
                echo "$BACKUPS_TO_DELETE"

                echo "$BACKUPS_TO_DELETE" | xargs -I {} rm -- {}
              else
                echo "No backups to delete."
              fi
            else
              echo "Backup creation failed. Old backups will not be deleted."
              exit 1
            fi
