---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql
  namespace: db
spec:
  accessModes:
    - ReadWriteOnce
    - ReadWriteMany
  storageClassName: gsks0
  resources:
    requests:
      storage: 40Gi
