---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: db
type: Opaque
stringData:
  password: "{{ postgresql.password }}"
  postgres-password: "{{ postgresql.postgres-password }}"
  replication-password: "{{ postgresql.repl-password }}"
