---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mongodb
  namespace: mongodb
spec:
  interval: 30m
  chart:
    spec:
      chart: mongodb
      version: 16.4.12
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: local-path-provisioner
      namespace: storage
  values:
    replicaCount: 1
    defaultStorageClass: local-hostpath
    deploymentStrategy:
      type: Recreate
    persistence:
      enabled: true
      storageClass: local-hostpath
      storageClassName: local-hostpath
    testFramework:
      enabled: false
    auth:
      existingSecret: "mongodb-secret"
        #password: ${MONGODB_FLUX_PASSOWORD}
    #extraEnvVarsSecret: "mongodb-password"
