---
apiVersion: v1
kind: Secret
metadata:
  name: crunchy-postgres-secret
  namespace: database
type: Opaque
stringData:
  s3.conf: "{{ crunchy_postgres_operator.s3_conf }}"
  encryption.conf: "{{ crunchy_postgres_operator.encryption_conf }}"
