---
apiVersion: v1
kind: Secret
metadata:
  name: ${APP}-s3-database-backup
type: Opaque
stringData:
  s3.conf: |
      [global]
      repo1-s3-key= "{{ postgres.s3_key }}"
      repo1-s3-key-secret="{{ postgres.s3_key_secret }}"
      repo1-storage-ca-file=/etc/pgbackrest/conf.d/ca-bundle.crt
  ca-bundle.crt: |
      -----BEGIN CERTIFICATE-----
      MIIDdzCCAl+gAwIBAgIUWqtkQod1YP/h20knFxLX1JKJ3powDQYJKoZIhvcNAQEL
      BQAwKDEmMCQGA1UEAwwdbWluaW8ubWluaW8uc3ZjLmNsdXN0ZXIubG9jYWwwHhcN
      MjYwMzIyMDI0NTA3WhcNMzYwMzE5MDI0NTA3WjAoMSYwJAYDVQQDDB1taW5pby5t
      aW5pby5zdmMuY2x1c3Rlci5sb2NhbDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
      AQoCggEBALS4abjkQ90sT4UhOEQJFKG5/3rfVL6UUWmjC+MKP9nsJUbo7jmORIvA
      FUg6x4jFFZfbNWlgVVbPA0scYn0j+9GouboMXNU8+XoO+JFo7TdDK5qnIahqYBhw
      ELFt1bRWRAx5F8lNPDNDxv6mFP6uC+rOn8lftYjDZqOtAaR1qip55W8WTJXUPNWv
      +NMaMGebpec6vX5Gizhf7tyClMPXiU0XULfnab189wCWjxYRhP6EXY+z88MpiNOf
      C91GbI2PPFJef6/+hEM7dx0TsoyoK7I4dE7vARWC5rtXvOs6xmqYYgMykvlSiTAa
      uBb7UUyu3QxF9KV7+iQ/vooIcORMmdcCAwEAAaOBmDCBlTAdBgNVHQ4EFgQUtLUs
      iEuzDsZYcPKUuQCzYfRiY+swHwYDVR0jBBgwFoAUtLUsiEuzDsZYcPKUuQCzYfRi
      Y+swDwYDVR0TAQH/BAUwAwEB/zBCBgNVHREEOzA5gh1taW5pby5taW5pby5zdmMu
      Y2x1c3Rlci5sb2NhbIIFbWluaW+CC21pbmlvLm1pbmlvhwQKK2jtMA0GCSqGSIb3
      DQEBCwUAA4IBAQAn1cTT1/441qEBBBLGZGTOMpTw1U9Gh+e39sWZdtQ6NjRPfqsI
      E7hhF/SApE+Qkhtikv2ucWqLNMlpToO3DmhStVmM1WKZItYFlcOQ294kXQaLk1KZ
      GeYxgprBTl12Oatobing5BqsSwXRX483xmQgMtp7J08SWjf5k4y5VROqzk7SeKkT
      OimTRi+4skdwWQCDQlW6TjkATUHoU6foZBpUVjDFogNmch8iIMIOghoOCBWo9dUP
      i3lxHdhbxX+mcEOZ2tjHJB/M/HyWlPRAFx992nHvVVNHDK9BBgR1cAYEsFje8FP8
      1hvUjZWh//ixr2xS+QC4ISPZ2BGNCCYwjR0d
      -----END CERTIFICATE-----
type: Opaque

