apiVersion: v1
kind: ConfigMap
metadata:
  name: agent
data:
  AGENT_USERNAME: {{ agent.username }}
  AGENT_PASSWORD: {{ agent.password }}
  AGENT_CAPTURE_IPCAMERA_ONVIF_USERNAME: {{ agent.TAPO310_FLUX_USERNAME  }}
  AGENT_CAPTURE_IPCAMERA_ONVIF_PASSWORD: {{ agent.TAPO310_FLUX_PASSWORD }}
  AGENT_CAPTURE_IPCAMERA_RTSP: rtsp://{{ agent.TAPO310_FLUX_USERNAME }}:{{ agent.TAPO310_FLUX_PASSWORD }}@10.0.0.115:554/stream1
  AGENT_CAPTURE_IPCAMERA_SUB_RTSP: rtsp://{{ agent.TAPO310_FLUX_USERNAME }}:{{ agent.TAPO310_FLUX_PASSWORD }}@10.0.0.115:554/stream2
  AGENT_TURN_PASSWORD: {{ agent.TURN_PASSWORD }}
  AGENT_MQTT_PASSWORD: {{ agent.MQTT_PASSWORD }}
  #MONGODB_FLUX_PASSOWORD: "thisismypassword"
  #RABBITMQ_FLUX_PASSWORD: "a4Oq1MneP76tiagN"
  #KERBEROS_JWT_SECRET: "JWT_secretS@uce"
  #VERNEMQ_FLUX_PASSWORD: "a4Oq1MneP76tiagP"
  #FACTORY_FLUX_PASSWORD: "a4Oq1MneP76tiagQ"
  #MONGODB_HOST: "mongodb.mongodb"
  #MONGODB_DATABASE_CREDENTIALS: "admin"
  #MONGODB_USERNAME: "root"
  #MONGODB_PASSWORD: ${MONGODB_FLUX_PASSOWORD}

