apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-mongodb
data:
  MONGODB_DATABASE_STORAGE: "KerberosStorage"
  MONGODB_HOST: "mongodb.mongodb"
  MONGODB_DATABASE_CREDENTIALS: "admin"
  MONGODB_USERNAME: "root"
  MONGODB_PASSWORD: {{ vault.MONGODB_FLUX_PASSOWORD }}
