---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-user
  namespace: flux-system
stringData:
  SECRET_PLACEHOLDER: "secret-value"
  MONGODB_FLUX_PASSOWORD: "thisismypassword"
  RABBITMQ_FLUX_PASSWORD: "a4Oq1MneP76tiagN"
  KERBEROS_JWT_SECRET: "JWT_secretS@uce"
