---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-user
  namespace: flux-system
stringData:
  SECRET_PLACEHOLDER: "secret-value"
  MONGODB_FLUX_PASSOWORD: "thisismypassword"
  RABBITMQ_FLUX_PASSWORD: "a4Oq1MneP76tiagN"
  KERBEROS_JWT_SECRET: "JWT_secretS@uce"
  VERNEMQ_FLUX_PASSWORD: "a4Oq1MneP76tiagP"
  FACTORY_FLUX_PASSWORD: "a4Oq1MneP76tiagQ"
  TAPO310_FLUX_USERNAME: "gsfarmTapoBarn1" 
  TAPO310_FLUX_PASSWORD: "56gyP7Ubg9"
