---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
type: Opaque
stringData:
  KC_DB_URL: "{{ keycloak.db_url }}"
  KC_BOOTSTRAP_ADMIN_USERNAME: "{{ keycloak.admin_username }}"
  KC_BOOTSTRAP_ADMIN_PASSWORD: "{{ keycloak.admin_password }}"
