---
apiVersion: v1
kind: Secret
metadata:
  name: vw-secret
type: Opaque
stringData:
  smtp-user: "{{ vaultwarden.smtp-user }}"
  smtp-password: "{{ vaultwarden.smtp-password }}"
  admin-token: "{{ vaultwarden.admin-token }}"
