---
apiVersion: v1
kind: Secret
metadata:
  name: vw-secret
type: Opaque
stringData:
  smtp-user: "{{ vaultwarden.smtp_user }}"
  smtp-password: "{{ vaultwarden.smtp_password }}"
  admin-token: "{{ vaultwarden.admin_token }}"
  SSO_CLIENT_SECRET: "{{ vaultwarden.sso_client_secret }}"
  ROCKET_SECRET_KEY: "{{ vaultwarden.rocket_secret_key }}"
