---
apiVersion: v1
kind: Secret
metadata:
  name: vw-secret
type: Opaque
stringData:
  smtp-user: "{{ vaultwarden.smtp_user }}"
  smtp-password: "{{ vaultwarden.smtp_password }}"
  admin-token: "{{ vaultwarden.admin_token }}"
