---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kerberos
  namespace: kerberos
spec:
  interval: 30m
  chart:
    spec:
      chart: hub
      version: 0.71.0
      sourceRef:
        kind: HelmRepository
        name: kerberos
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    deploymentStrategy:
      type: Recreate
    environment: "production"
    ingress: external
    mongodb:
      host: mongodb.mongodb
      adminDatabase: admin
      username: "root"
      password: ${MONGODB_FLUX_PASSOWORD}
    mqtt:
      host: "mqtt.gs-farm.net"
      port: "8443"
      protocol: "wss"
      username: "vernemq"
      #password: "vernemqpass"
      password: ${VERNEMQ_FLUX_PASSWORD}
    rabbitmq:
      host: "rabbitmq-0.rabbitmq-headless.rabbitmq.svc.cluster.local"
      username: "user"
      password: ${RABBITMQ_FLUX_PASSWORD}
    turn:
      host: "turn:turn.gs-farm.net:8443"
    kerberosvault:
      uri: "https://api.vault.gs-farm.net"
    kerberoshub:
      api:
        jwtSecret: ${KERBEROS_JWT_SECRET}
        schema: "https"
        url: "api.gs-farm.net"
        resources:
          requests:
            memory: 10Mi
            cpu: 25m
        mfaIssuer: "gs-farm.net"
        apiKey: cloudkey-api-key-secret
        tls:
          - hosts:
              - "api.gs-farm.net"
            secretName: kerberoshub-api
          - hosts:
              - "admin.api.gs-farm.net"
            secretName: kerberoshub-admin
      frontend:
        url: "kerberos.gs-farm.net"
        metadata:
          annotations:
            cert-manager.io/cluster-issuer: "letsencrypt-production"
        tls:
          - hosts:
              - "kerberos.gs-farm.net"
            secretName: kerberoshub
