# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  annotations:
    patch.sko.ai/app-template: common
  name: vaultwarden
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
      version: 4.6.2
  interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: local-path-provisioner
      namespace: storage
  values:
    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.35.3@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
            env:
              ADMIN_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: vw-secret
                    key: admin-token
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 100m
                memory: 100Mi

    admin:
      enabled: true
      disableAdminToken: false
      existingSecret: vw-secret

    smtp:
      enabled: true
      host: smtp.gmail.com
      from: "tfs05jhu@gmail.com"
      fromName: "Tom Steck"
      security: starttls
      port: 587
      existingSecret: vw-secret

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        size: 1Gi
        accessMode: ReadWriteOnce
        storageClass: local-hostpath
      data:
        enabled: true
        type: persistentVolumeClaim
        size: 1Gi
        accessMode: ReadWriteOnce
        storageClass: local-hostpath

    service:
      app:
        controller: vaultwarden
        ports:
          http:
            port: 80
          websocket:
            enabled: true
            port: 3012
#
#    route:
#      app:
#        rules:
#          - matches:
#              - path:
#                  type: PathPrefix
#                  value: /
#            backendRefs:
#              - kind: Service
#                port: 80
#                name: app
#                namespace: vaultwarden
#                weight: 1
#          - matches:
#              - path:
#                  type: PathPrefix
#                  value: /notifications/hub/negotiate
#            backendRefs:
#              - kind: Service
#                port: 80
#                name: app
#                namespace: vaultwarden
#                weight: 1
#          - matches:
#              - path:
#                  type: PathPrefix
#                  value: /notifications/hub
#            backendRefs:
#              - kind: Service
#                port: 3012
#                name: app
#                namespace: vaultwarden
#                weight: 1
