# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  annotations:
    patch.sko.ai/app-template: common
  name: vaultwarden
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
      version: 4.6.2
  interval: 12h
  dependsOn:
    - name: local-path-provisioner
      namespace: storage
  values:
    controllers:
      vaultwarden:
        containers:
          app:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
            env:
              ADMIN_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: vw-secret
                    key: admin-token
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 100m
                memory: 100Mi

    admin:
      enabled: true
      disableAdminToken: false
      existingSecret: vw-secret

    smtp:
      enabled: true
      host: smtp.gmail.com
      from: "tfs05jhu@gmail.com"
      fromName: "Tom Steck"
      security: starttls
      port: 587
      existingSecret: vw-secret

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        size: 1Gi
        accessMode: ReadWriteOnce
        storageClass: local-hostpath
      data:
        enabled: true
        type: persistentVolumeClaim
        size: 1Gi
        accessMode: ReadWriteOnce
        storageClass: local-hostpath

    service:
      app:
        controller: vaultwarden
        ports:
          http:
            port: 80
          websocket:
            enabled: true
            port: 3012

    route:
      app:
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - kind: Service
                port: 80
                name: app
                namespace: vaultwarden
                weight: 1
          - matches:
              - path:
                  type: PathPrefix
                  value: /notifications/hub/negotiate
            backendRefs:
              - kind: Service
                port: 80
                name: app
                namespace: vaultwarden
                weight: 1
          - matches:
              - path:
                  type: PathPrefix
                  value: /notifications/hub
            backendRefs:
              - kind: Service
                port: 3012
                name: app
                namespace: vaultwarden
                weight: 1
