---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rabbitmq
  namespace: rabbitmq
spec:
  interval: 30m
  chart:
    spec:
      chart: rabbitmq
      version: 15.3.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: local-path-provisioner
      namespace: storage
  values:
    resources:
      requests:
        cpu: 50m
        memory: 512Mi
      limits:
        cpu: 250m
        memory: 1024Mi
    defaultStorageClass: local-hostpath
    deploymentStrategy:
      type: Recreate
    persistence:
      enabled: true
      storageClass: local-hostpath
      storageClassName: local-hostpath
    auth:
      password: ${RABBITMQ_FLUX_PASSWORD}
      securePassword: false
    testFramework:
      enabled: false
    pdb:
      create: false
      minAvailable: 1
    extraEnvVarsCM: "rabbitmq-map"
    serviceMonitor:
      enabled: false
      interval: 30s
